div.ringContainer
{
	position: relative;
	width: 50px;
	height: 50px;
}
div.innerColorRing
{
	width: 50px;
	height: 50px;
}
div.innerRing
{
	width: 50px;
	height: 50px;
	background-color: #cccccc;
}
svg.halfLeftRing, svg.halfRightRing, svg.baseRing
{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
}
svg.halfRightRing
{
	z-index: 10;
}
svg.halfLeftRing
{
	z-index: 20;
}
div.leftBlock
{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	background-image: url(leftcover.png);
	background-repeat: no-repeat;
	z-index: 30;
	display: none;
}
.webkitLMask
{
	-webkit-mask-image: url(mask_l_webkit.png) !important;
}
.webkitRMask
{
	-webkit-mask-image: url(mask_r_webkit.png) !important;
}
.webkitWholeMask
{
	-webkit-mask-image: url(mask_webkit.png) !important;
}

